.cont{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}
.cont > div:nth-child(1) > img {
    width:55%;
}
.cont > div:nth-child(2) {
    width:50%;
    margin-left: 25%;
}
.cont > div:nth-child(2) > p:nth-child(1){
    font-size:32px;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom:0;
    text-shadow: 0 0 2rem 0 rgba(0,0,0,0.5);
}
.cont > div:nth-child(2) > p:nth-child(2){
    font-size:16px;
    margin-top: 10px;
    color:rgb(133, 129, 129);
}
.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    padding: 9px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    height:50px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.40), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-4 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.gradient-button-4:hover { background-position: right center; }

button {
    width:70%;
    margin: auto;
    height:40px;
    font-size: 18px;
    color: black;
    border: 1px solid transparent;
    border-radius:5px;
    margin-top: -20px;
}
