<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/pay.css">
    <link rel="icon" href="https://static.cure.fit/assets/images/favicon-modified.png" sizes="16x16" type="image/png" data-rh="true">
    <title>cult.fit - Payment</title>
    <link rel="stylesheet" href="./style/ArrowDropDown.css">
    <script  rel="preload" src="JsFiles/pay.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
  
   
<!-- navebar -->
    <nav class="navbar">
        <div class="logo">
        <a href="/home">
                <img src="https://static.cure.fit/assets/images/curefit-v-man.svg" alt="">
            </a>
        </div>
        <div id="FitImgBox" onclick="myFunction()">
            <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/image/header-web/store_fit.svg"
                class="imgMF">
        </div>
        <div id="downArrowBox" onclick="myFunction()">
            <img src="https://static.cure.fit/assets/images/arrow-clp.svg" class="imgMF" id="imgMf">
        </div>

       


        <!-- login Section -->
        <div class="login">

            <div class="location">
                <div class="dot"></div>
                <div id="nameCity">location</div>
            </div>
            <div id="loginBox">
                <img src="https://static.cure.fit/assets/images/user-image.svg" alt="">

            </div>
            <div id="addToCartBox">
                <img src="https://static.cure.fit/assets/images/cart-image.svg" alt="">
            </div>
        </div>
    </nav>
   <!-- navebar -->

   <!-- Arrow drop down -->
    <div class="popuptext" id="myPopup">
        <div id="allImgs">
            <div>
                <a href="/onlinept">
                    <img src="https://static.cure.fit/assets/images/cult-icon.svg" alt="" class="popImg1">
                </a>
                 
                <div class="popText popText1 " >
                    CULT
                </div>
            </div>
            <div>
               <a href="#">
                <img src="https://static.cure.fit/assets/images/Livefit.svg" alt="" class="popImg2">
               </a>
                
                <div class="popText popText2">
                    LIVE
                </div>
            </div>
            <div>
               <a href="/eat">
                    <img src="https://static.cure.fit/assets/images/eat-hover-icon.svg" alt="" class="popImg1">
               </a>
                   
                
                <div class="popText popText3">
                    EAT
                </div>
            </div>
            <div>
               <a href="/mindfulness">
                    <img src="https://static.cure.fit/assets/images/mind-icon.svg" alt="" class="popImg1">
               </a>
                    
                <div class="popText popText4">
                    MIND
                </div>
            </div>
            <div>
                <a href="/care">
                    <img src="https://static.cure.fit/assets/images/carefit-blk.svg" alt="" class="popImg1">
                </a>
                   
                <div class="popText popText5">
                    CARE
                </div>
            </div>
            <div>
               <a href="/store">
                    <img src="https://static.cure.fit/assets/images/store-icon.svg" alt="" class="popImg2">
               </a>
                   
                <div class="popText popText6">
                    STORE
                </div>
            </div>

        </div>
       
    </div>
<!-- Arrow drop down -->


    <div id="container" >
       <div id="left">
        <div id="top">Cultgear Order Summary</div>
        <div id="items"></div>
       </div>
       <div id="right">
            <input type="text">
            <button id="rzp-button1">CheckOut</button>
       </div>
    </div>
    
   
    
</body>
<script>
    updateLocation()
function updateLocation(){
    let Currentcity = JSON.parse(localStorage.getItem("currentcity"));
    console.log('Currentcity:', Currentcity)
    
    if(Currentcity===null){
        document.getElementById("nameCity").innerText = "location";
    }else{

        document.getElementById("nameCity").innerText = Currentcity;
    }
}
</script>
</html>